@import "./theme.css";

.profile-container {
  width: 100%;
  min-height: 100vh;
  background: var(--gradient-bg);
  padding: 12px;
  color: var(--color-text);
  box-sizing: border-box;
}

/* ------ Top Header ------ */
.profile-header {
  /* background: var(--color-secondary); */
  background: rgb(50, 51, 52);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  gap: 16px; /* spacing between dp and name */
}

/* DP (Left) */
.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  /* background: var(--color-primary); */
  background: rgb(110, 112, 114);
  flex-shrink: 0;
}

/* Name + Contact (Right) */
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}

/* ------ Stats Row ------ */
.stats-row {
  width: 100%;
  margin-top: 15px;
  /* background: var(--color-secondary); */
  background: rgb(50, 51, 52);
  padding: 18px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.stat-box {
  text-align: center;
}

.stat-title {
  font-size: 14px;
  opacity: 0.8;
}

.stat-value {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
}

/* ------ Video Grid ------ */
.video-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.video-box {
  /* background: var(--color-primary); */
  /* background: rgb(129, 133, 137); */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* LESS rounded corners */
  border-radius: 2px;

  color: white;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
